# SQL Select examples/exercise

Example dataset with three related tables:

* Students table: provides students personal/profile information
  - student_id (INTEGER, PRIMARY KEY): unique (internal) ID number
  - name (TEXT): name of the student
  - age (INTEGER): age of student
  - gender (TEXT): gender of student

* Courses table: contains information about the courses
  - course_id (INTEGER, PRIMARY KEY): unique (internal) course ID number
  - name (TEXT): Name of the course
  - instructor (TEXT): name of the instructor

* Enrollments table: provides information about which student is participating in which course
  - enrollment_id (INTEGER, PRIMARY KEY): unique key to the enrollment table
  - student_id (INTEGER, FOREIGN KEY): student ID
  - course_id (INTEGER, FOREIGN KEY): course ID
  - grade (TEXT): student's grade in the respective course

Some sample data to populate these tables:

* Students:

|student_id|name|age|gender|
|---|---|---|---|
|1|John Doe|20|Male|
|2|Jane Smith|22|Female|
|3|Bob Green|21|Male|
|4|Lisa Brown|19|Female|
|5|Tom Lee|23|Male|

* Courses:

|course_id|name|instructor|
|---|---|---|
|1|English 101|Mr. Smith|
|2|Math 101|Ms. Johnson|
|3|Science 101|Dr. Green|
|4|History 101|Ms. Brown|

* Enrollments:

|enrollment_id|student_id|course_id|grade
|---|---|---|---
|1|1|1|A
|2|1|2|B
|3|1|3|A
|4|2|1|B
|5|2|2|A
|6|2|4|C
|7|3|2|A
|8|3|3|A
|9|4|1|C
|10|4|3|B
|11|5|2|A
|12|5|4|D

In [1]:
import sqlite3

# Create a connection
conn = sqlite3.connect('example.db')

# Create a cursor
c = conn.cursor()

# Clean tables if they exist
c.execute('''DROP TABLE IF EXISTS students''')

# Create students table
c.execute('''CREATE TABLE students
             (student_id INTEGER PRIMARY KEY,
              name TEXT,
              age INTEGER,
              gender TEXT)''')

# Clean tables if they exist
c.execute('''DROP TABLE IF EXISTS courses''')

# Create courses table
c.execute('''CREATE TABLE courses
             (course_id INTEGER PRIMARY KEY,
              name TEXT,
              instructor TEXT)''')

# Clean tables if they exist
c.execute('''DROP TABLE IF EXISTS enrollments''')

# Create enrollments table
c.execute('''CREATE TABLE enrollments
             (enrollment_id INTEGER PRIMARY KEY,
              student_id INTEGER,
              course_id INTEGER,
              grade TEXT,
              FOREIGN KEY(student_id) REFERENCES students(student_id),
              FOREIGN KEY(course_id) REFERENCES courses(course_id))''')

# Insert data into students table
c.execute("INSERT INTO students (name, age, gender) VALUES ('John Doe', 20, 'Male')")
c.execute("INSERT INTO students (name, age, gender) VALUES ('Jane Smith', 22, 'Female')")
c.execute("INSERT INTO students (name, age, gender) VALUES ('Bob Green', 21, 'Male')")
c.execute("INSERT INTO students (name, age, gender) VALUES ('Lisa Brown', 19, 'Female')")
c.execute("INSERT INTO students (name, age, gender) VALUES ('Tom Lee', 23, 'Male')")

# Insert data into courses table
c.execute("INSERT INTO courses (name, instructor) VALUES ('English 101', 'Mr. Smith')")
c.execute("INSERT INTO courses (name, instructor) VALUES ('Math 101', 'Ms. Johnson')")
c.execute("INSERT INTO courses (name, instructor) VALUES ('Science 101', 'Dr. Green')")
c.execute("INSERT INTO courses (name, instructor) VALUES ('History 101', 'Ms. Brown')")

# Insert data into enrollments table
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (1, 1, 'A')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (1, 2, 'B')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (1, 3, 'A')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (2, 1, 'B')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (2, 2, 'A')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (2, 4, 'C')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (3, 2, 'A')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (3, 3, 'A')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (4, 1, 'C')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (4, 3, 'B')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (5, 2, 'A')")
c.execute("INSERT INTO enrollments (student_id, course_id, grade) VALUES (5, 4, 'D')")

# Commit the changes
conn.commit()

# Close the connection
conn.close()